@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1, h2{
    text-transform: uppercase;
    text-align: center;
}

a{
    text-decoration: none;
    color: inherit;
}

html{
    font-family: 'Open Sans';
    font-size: 16px;
}

body{
    width: 100%;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

.logo{
    font-size: 2rem;

}

header{
    padding: 10px
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu{
    display: none;
}

header nav ul{
    display: flex;
}

header nav ul li{
    list-style: none;
    padding: 5px 15px;
    border-bottom: 1px solid transparent;
}

header nav ul li:hover{
    cursor: pointer;
    border-bottom: 1px solid #000;
}

.background{
    background: url('images/layer-11.png');
    background-size: cover;
    padding: 20%;
    display: flex;
    text-align: center;
    align-items: center;
}

.head button{
    background-color: #4d4d4d;
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 10px 40px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 80px 10px;
    border-bottom: 1px solid lightgrey;
}

.services .service-item{
    flex-basis: 29%;
    text-align: center;
    margin: 10px 20px;
}

.story{
    text-align: center;
    margin: 60px 5px;
}

.story i{
    position: relative;
    bottom: 230px;
    font-size: 5rem;
    color: #fff;
}

.story .image{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
}

.story .image img{
    min-width: 100%;
}

.brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.work .brend-item{
    flex-basis: 20%;
    margin: 1%;
    padding: 100px 10px;
    background-color: #f7f7f7;
    text-align: center;
    position: relative;
}

.work .brend-item .project{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
    margin: 0 auto;
    background-color: #575757;
    color: #fff;
    padding: 10px 0;
}

.work .brend-item .project a{
    color: inherit;
    text-decoration: none
}

.work .brend-item:hover .project{
    display: block
}

.full-width{
    background-color: #f5f5f5;
    padding: 100px;
}

.subscribe{
    text-align: center;
}

.subscribe button{
    margin-top: 20px;
    padding: 15px 40px;
    border: 2px solid #333333;
    border-radius: 40px;
    background-color:transparent;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}

.social .social-item{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 70px;
    min-height: 70px;
    margin: 10px;
    border: 1px solid #333333;
    text-align: center;
}

.social .social-item:hover{
    border: 1px solid #55acee;
    background-color: #55acee;
    color: #fff;
}

.footer-bg{
    min-width: 100%;
    background-color: #3b3b3b;
    color: #fff;
}

.footer-bg a{
    color: #fff;
    text-decoration: none;
}

footer{
    padding: 30px 5px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

footer .footer-item{
    flex-basis: 25%;
    margin-top: 10px;
    
}

footer .footer-item ul{
    padding-left: 0;
}

footer .footer-item ul li{
    list-style: none;
}

.back{
    position: fixed;
    bottom: 20px; 
    right: 20px;
    font-size: 4rem; 
}

@media all and (max-width: 1045px){
    .container{
        max-width: 960px;
    }
    html{
        font-size: 12px
    }
}

@media all and (max-width: 975px){
    .container{
        max-width: 600px;
    }
    html{
        font-size: 14px
    }

    footer .footer-item{
        min-width: 50%;
        text-align: center;
    }

    .work .brend-item{
        min-width: 40%;
        margin: 10px;
    }

    .services .service-item{
        min-width: 40%;
    }
}

@media all and (max-width:800px){
    .services .service-item{
        min-width: 40%;
    }
}

@media all and (max-width: 580px){
    .menuToggle{
        display: none;
        position: absolute;
        top: 30px;
        right: 0;
        background-color: rgb(94, 192, 171);
        padding: 5px 10px;
        margin: 2px;
    }

    .menu{
        display: block;
        font-size: 3rem;
    }

    .menu:hover{
        display: block;
        cursor: pointer;
    }

    .work .brend-item{
        min-width: 90%;
    }

    .services .service-item{
        min-width: 90%;
    }

    footer .footer-item{
        min-width: 90%;
    }
}